<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

=

<div class="header">
<nav class="navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">ShareRide</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" ng-controller="Controller">
        <li><a ui-sref="register"><span class="glyphicon glyphicon-user" user-Name></span></a></li>
        <li><a ui-sref="login"><span class="glyphicon glyphicon-log-in" user-Logout></span></a></li>
        <li><a href=""><span class="glyphicon glyphicon-headphones"></span> Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav> 
</div>

</body>
</html>
